.c2 {
	flex-direction: row;
	text-align: center;
	padding: 40px;
	background-color: #eee;
}
.b1 {
	padding-left: 22px;
}
.image {
	text-align: center;
}
.c2 a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #000;
}
