.nav {
	grid-area: nav;
}

.nav {
	background-color: #000;
	flex-direction: row;
	padding: 20px;
}
.nav a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
}
.content {
	grid-area: content;
}
